.header{
	padding-top: 20px;
	background-color: #333;
	border-bottom: 5px solid #ddd0c0;
}

ul.nav > .nav-item {
	float: left;
	margin: 0 5px;
}

.nav-item a{
	padding: 5px 10px;
	border-radius: 5px;
	text-transform: uppercase;
	color: white;
}

.nav-item a:hover{
	background-color: #1abc9c !important;
}

.nav-item .divider{
	color: white;
	display: block;
	padding: 5px 10px;
}

.nav-item .icon{
	margin-top: -5px;
}

.splash{
	width: 100%;
	height: 425px;
	background: url(../img/splash2.png) no-repeat center center;
	background-size: cover;
}

.splash .tagline{
	padding-top: 100px;
	width: 70%;
	margin: 0 auto;
	text-align: center;
	color: white;
	text-shadow: 0 0.3em #847056;
	text-transform: uppercase;
}

.splash .tagline h1{
	line-height: 1.2em;
}

.splash .tagline h2{
	font-size: 1.2em;
}

.splash .tagline .down-arrow{
	margin-top: 10px;
}

.explain {
	margin-top: 40px;
	margin-bottom: 40px;
}

.explain .explain-wrapper{
	position: relative;
}

.explain .number{
	position: absolute;
	top: 20px;
	background: lightgray;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	text-align: center;
}

.explain-unit h3{
	font-size: 1.2em;
	text-transform: uppercase;
}

.explain-unit{
	margin-left: 40px;
}

.featured .idea-card{
	margin-top: 20px;
	float: left;
	width: 32%;
	margin-right: 2%;
}

.featured .idea-card:nth-child(3n+3){
	margin-right: 0;
}

.idea-card{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 240px;
	position: relative;
	color: white;
}

.idea-card a{
	color: white;
}

.idea-card a:hover{
	text-decoration: none;
}

.register.container{
	min-height: 500px;
}
.opacity{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	text-align: center;
}

.idea-card h4{
	margin: 0 auto;
	text-align: center;
	padding: 40px 0 20px 0;
}

hr {
	position: relative;
	margin: auto;
	border: none;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

.idea-card hr{
	color: rgba(255,255,255,0.4);
	width: 100px;
}

.short-divider{
	color: lightgray;
	width:100px;
	margin: 20px auto;
}

.page-divider{
	color: lightgray;
	border-bottom: 1px dotted;
	width:100%;
	margin: 50px 0;
}

.discover-section{
	text-align: center;
	margin: 50px 0;
}

.discover-section p{
	padding: 20px 0;
	text-transform: uppercase;
}

.idea-card p{
	text-align: center;
	text-transform: uppercase;
}

.idea-card .chart{
	width: 100%;
	text-align: center;
}

.idea-card canvas{
	display: block;
	margin: 0 auto;
}

.idea-card .view-idea{
	margin-top: 20px;
	text-transform: uppercase;
}

.footer{
	height: 200px;
	background: #333;
}

/*   idea page   */

.idea-container .cover-image{
	height: 250px;
	background: lightgray;
}

.idea-main{
	margin: 20px 0;
}

.idea-header .idea-title{
	float: left;
	margin: 0;
}

.idea-header a{
	float:right;
}
